@import "../../../styles/master";
.list-container {
  div {
    border-radius: 0.25rem;
    position: relative;
    img {
      border-radius: 0.25rem;
      height: 100%;
      width: 100%;
    }
    .movie-layer {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: $shade-disabled;
      opacity: 0;
      color: $shade-default;

      &:hover {
        opacity: 0.9;
        color: $shade-default;
      }

      img {
        width: 1.25rem;
        height: auto;
      }

      div {
        p {
          font-weight: 300;
        }
      }
    }

    .heart-full {
      width: 1.25rem;
      height: auto;
      position: absolute;
      right: 0;
    }
  }
}
