.search-input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    background: url(../icons/icon-magnifier-grey.svg) no-repeat scroll 8px 12px white;
    padding-left: 35px;
}