{
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    "transform-class-properties",
    "transform-react-jsx",
    ["styled-components", {
      "fileName": false
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
