root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2
charset = utf-8

[{*.toml,*.json,*.yml,*.md,yarn.lock,.*}]
indent_style = space
indent_size = 2
