@import '../../../style-guide.css';

.Wrapper {
  margin: 0 auto;
  max-width: var(--main-container-width);
}

.HeaderContent {
  padding: var(--space-5) var(--mobile-margin);
  @media (--desktop) {
    padding: var(--space-7) 0;
  }
}
