.empty {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  &.hide {
    display: none;
  }
  &.show {
    display: flex;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 140px;
  }
  img {
    width: 100%;
    max-width: 360px;
  }
  &__title {
    width: 100%;
    text-align: center;
    color: rgb(255,255,255);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__text {
    width: 100%;
    text-align: center;
    color: rgb(122, 140, 153);
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
