.App {
  text-align: center;
  padding: 0px 108px;
}

.loading {
    text-align: center;
    margin-top: 150px;
}

.error-message {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}
