$colorYellow: '#FF9F1C';
$colorRed: '#FF4040';
$colorGreen: '#2EC4B';
$colorDark: '#0A1014';
$colorGray: '#1B2329';
$colorMidGray: '#353F4C';
$colorLightGrey: '#7A8C99';
$colorWhite: '#FFFFFF';
$maxWidth: '1180px';
$sizeFontRegular: '16px';
$sizeFontMedium: '20px';
$sizeFontBig: '24px';