.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  overflow: hidden auto;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  height: 560px;
}

.preview-wrapper {

}

.preview-image {
  width: 150px;
}

.preview-title {
  width: 150px;
}
