.results-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    justify-content: center;
    margin-top: 32px;
    grid-gap: 20px;
}

.search-form {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
}

.search-form .search-icon {
    position: absolute;
    margin: 14px 12px;
}

.search-form .search-input {
    height: 44px;
    width: 1140px;
    border: none;
    padding-left: 40px;
    border-radius: 3px;
}

.search-form .search-input::placeholder {
    color:#7A8C99;
}

.search-input:focus, .search-input:hover {
    border: none;
    outline: none;
    color: #000000;
}

.search-illustration {
    margin-top: 224px;
}

.search-illustration .info h4 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0px 0px 0px;
}

.search-illustration .info h5 {
    font-size: 16px;
    color: #7A8C99;
    margin-top: 8px;
    font-weight: 400;
}