@import '../../shared/colors.scss';

.searchBar {
    border: 0;
    margin-left: 12px;
    font-size: 16px;
    width: 100%;
    background: transparent;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    background: $white;
    padding: 0 12px;
    height: 44px;
    border-radius: 4px;

    .searchBar::placeholder {
        color: $light-grey;
    }
}

.searchBarContainerDisabled {
    background: $grey;

    .searchBar::placeholder {
        color: $mid-grey;
    }
}

.searchIcon {
    height: 17px;
}

textarea:focus, input:focus{
    outline: none;
}

svg path {
    fill: red;
    stroke: red
}