.movie {
  &-list {
    width: 100%;
    max-width: 170px;
    margin-bottom: 25px;
    h3 {
      font-size: 16px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 16px;
      color: rgb(122, 140, 153);
    }
    p {
      font-size: 16px;
      line-height: 1.3;
      margin: 0 0 5px;
      color: rgb(255,255,255);
    }
  }
}
