@import "../../styles/master";
.movie-not-found {
  p {
    color: #fff;
    a {
      color: $color-negative;
      text-decoration: none;

      &:hover {
        color: $color-highlight;
      }
    }
  }
}

@media (hover: hover) {
  a:hover {
    color: $color-highlight;
  }
}
