/* mobile first */
.search-bar {
  width: 100%;
  position: relative;
}

.search-bar__icon {
  position: absolute;
  left: 12px;
  top: 12px;
  bottom: 12px;
  transition: 0.3s;
}

.search-bar__input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 12px 12px 38px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 16px;
  background-color: white;
}

.initial-block,
.movies-block,
.loading-block,
.error-block {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.initial-block__image-container {
  margin: 7% 0 1% 0;
}

.initial-block__image {
  max-width: 85%;
}

.initial-block__title {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.initial-block__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #7a8c99;
}

.movies-block__list {
  display: grid;
  gap: 15px;
  justify-items: center;
  list-style: none inside none;
  padding: 0;
}

.movies-block__list__movie {
  margin: 10px;
  height: 100%;
  width: 100%;
}

/* Extra small devices (400px to 600px) */
@media only screen and (min-width: 400px) {
  .movies-block__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .initial-block__image {
    max-width: 65%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movies-block__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movies-block__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .initial-block__image {
    max-width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .movies-block__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .movies-block__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
