@import '../../../../style-guide.css';

.Wrapper {
  max-width: 152px;
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-1);
  cursor: pointer;
  @media (--desktop) {
    max-width: 180px;
    &:hover .HoverContent {
      opacity: 1;
    }
  }
}

.Cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HoverContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 63, 76, 0.9);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  @media (--desktop) {
    opacity: 0;
  }
}

.HeartIcon {
  align-self: flex-end;
  padding: var(--space-2);
}

.InfoContent {
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  height: 100%;
  display: flex;
  color: var(--color-default);
  width: 100%;
  text-decoration: none;
  justify-content: flex-end;
  flex-direction: column;
}

.Title {
  font-size: var(--font-size);
  margin-bottom: 6px;
  @media (--desktop) {
    font-size: var(--font-size-1);
  }
}

.Year {
  font-size: var(--font-size);
}

.PosterError {
  background-color: var(--color-disabled);
  box-sizing: border-box;
}

.PosterNotFound {
  width: 120px;
  height: 120px;
  margin: 15px;
  @media (--desktop) {
    margin: 30px;
  }
}

.LikeButton {
  right: 12px;
  top: 12px;
  background: none;
  border: none;
  display: block;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
}
