.detail-wrapper {
    text-align: left;
    color: white;
}

.detail-wrapper .loading {
    text-align: center;
    margin-top: 150px;
}

.detail-wrapper .error-message {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
}

.detail-wrapper .icon-back {
    margin: 32px 0px;
}

.detail-wrapper .detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-wrapper .detail-grid .text .top {
    display: flex;
}

.detail-wrapper .detail-grid .text .top .runtime {
    font-size: 20px;
    color: #7A8C99;
    margin-right: 8px;
    font-weight: 500;
}

.detail-wrapper .detail-grid .text .top .rated {
    font-size: 20px;
    font-weight: 500;
    color: #0A1014;
    width: auto;
    height: 24px;
    border-radius: 4px;
    background-color: #7A8C99;
    text-align: center;
    padding: 2px 6px;
}

.detail-wrapper .detail-grid .text .title {
    margin-top: 24px;
}

.detail-wrapper .detail-grid .text .title h1 {
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 32px;
}

.detail-wrapper .detail-grid .text .btn-section {
    display: flex;
    margin-bottom: 48px;
}

.detail-wrapper .detail-grid .text .btn-section .imdb {
    width: 118px;
    height: 40px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0A1014;
    color: white;
    margin-right: 16px;
    border: 1px solid #353F4C;
    overflow: hidden;
    padding: 0px;
    text-align: center;
}

.detail-wrapper .detail-grid .text .btn-section .imdb .logo {
    background-color: #FF9F1C;
    height: 40px;
    width: 100%;
}

.detail-wrapper .detail-grid .text .btn-section .imdb img {
    margin: 10px;
    height: 17px;
    width: 37;
}

.detail-wrapper .detail-grid .text .btn-section .imdb .rating h4 {
    font-size: 16;
    font-weight: 500;
    margin-top: 12px;
}

.detail-wrapper .detail-grid .text .btn-section .rotten {
    width: 87px;
    height: 40px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0A1014;
    color: white;
    margin-right: 16px;
    border: 1px solid #353F4C;
    overflow: hidden;
    padding: 0px;
    text-align: center;
}

.detail-wrapper .detail-grid .text .btn-section .rotten .logo {
    background-color: #FF4040;
    height: 40px;
    width: 100%;
}

.detail-wrapper .detail-grid .text .btn-section .rotten img {
    margin: 12px;
    height: 15px;
    width: 16px;
}

.detail-wrapper .detail-grid .text .btn-section .rotten .rating h4 {
    font-size: 16;
    font-weight: 500;
    margin-top: 12px;
}

.detail-wrapper .detail-grid .text .btn-section .favourite {
    width: 182px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    background-color: #0A1014;
    color: #7A8C99;
    border: 1px solid #353F4C;
    overflow: hidden;
    text-align: center;
    padding: 10px 0px 11px 12px;
}

.detail-wrapper .detail-grid .text .btn-section .favourite:hover {
    border: 1px solid #FF4040;
    color: white;
}

.detail-wrapper .detail-grid .text .btn-section .favourite .text h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding-left: 12px;
}

.plot .title {
    color: #7A8C99;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}

.plot .content {
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.detail-wrapper .detail-grid .text .bottom {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    margin-top: 40px;
}

.detail-wrapper .detail-grid .image {
    text-align: right;
}

.detail-wrapper .detail-grid .image img {
    height: 640px;
    width: 480px;
    border-radius: 8px;
}