@import '../../shared/colors.scss';

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.emptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 17%;

    .searchIllustration {
        margin-top: 20%;
        max-width: 100%;
        height: auto;
    }

    .searchIllustrationDesc {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: $white;
        text-align: center;
        margin-top: 40px;
    }

    .searchIllustrationSecondDesc {
        color: $light-grey;
        font-size: 16px;
        letter-spacing: 0.2px;
        margin: 0;
    }
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: 32px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.movieDetailsContainer {
    margin-top: 5px;
    padding-bottom: 50px;
}

@media (max-width: 1199px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 25px;
    }
}