@import '../../shared/colors.scss';

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.emptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 17%;

    .searchIllustration {
        margin-top: 20%
    }

    .searchIllustrationDesc {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: $white;
        text-align: center;
        margin-top: 40px;
    }

    .searchIllustrationSecondDesc {
        color: $light-grey;
        font-size: 16px;
        letter-spacing: 0.2px;
        margin: 0;
    }
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: 32px;

    .movieContainer {
        width: 180px;
        height: 240px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
    }

    .movieImage {
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .movieImageInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #131C25;
        color: $white;
        opacity: 0;
        height: 100%;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        transition: 0.3s;
    }

    .movieImageInfo:hover {
        opacity: 0.9;
        transition: 0.3s;
    }

    .movieYear {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 4px;
    }

    .movieTitle {
        font-size: 20px;
        letter-spacing: 0.2px;
        font-weight: 500;
    }

    .likeButton {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
    }
}

.movieDetailsContainer {
    margin-top: 5px;

    .movieDetails {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        font-size: 20px;
        letter-spacing: 0.2px;
        color: $light-grey;
    }

    .movieDetailsImageContainer {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        margin-top: 12px;

        .movieDetailsImage {
            background-size: cover;
            width: 480px;
            height: 640px;
            border-radius: 8px;
        }
    }

    .movieDetailsBadge {
        background: $light-grey;
        color: $dark;
        border-radius: 4px;
        padding: 2px 5px;
        margin-left: 5px;
    }

    .movieDetailsTitle {
        color: $white;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: 0.9px;
        font-weight: 400;
        margin-top: 20px;
    }

    .movieSectionTitle {
        color: $light-grey;
        font-size: 16px;
        letter-spacing: 0.2px;
    }

    .movieDetailsPlot {
        .moviePlot {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $white;
        }
    }

    .movieDetailsList {
        margin-left: 55px;
    }

    .movieDetailsList:first-of-type {
        margin-left: 0;
    }

    .movieSectionList {
        padding: 0;
        margin-top: 10px;
        
        li {
            color: $white;
            display: block;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .movieDetailsFooter {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
}