@import '../../shared/colors.scss';

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.emptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 17%;

    .searchIllustration {
        margin-top: 20%;
        max-width: 100%;
        height: auto;
    }

    .searchIllustrationDesc {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: $white;
        text-align: center;
        margin-top: 40px;
    }

    .searchIllustrationSecondDesc {
        color: $light-grey;
        font-size: 16px;
        letter-spacing: 0.2px;
        margin: 0;
    }
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: 32px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .movieContainer {
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
    }

    .movieImage {
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .movieImageInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #131C25;
        color: $white;
        opacity: 0;
        height: 100%;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        transition: 0.3s;
    }

    .movieImageInfo:hover {
        opacity: 0.9;
        transition: 0.3s;
    }

    .movieYear {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 4px;
    }

    .movieTitle {
        font-size: 20px;
        letter-spacing: 0.2px;
        font-weight: 500;
    }

    .likeButton {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: default;
    }
}

.movieDetailsContainer {
    margin-top: 5px;
    padding-bottom: 50px;
}

@media (max-width: 1199px) {
    .container {
        padding: 0 50px;
    }

    .movieList {
        .movieContainer {
            height: 350px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 25px;
    }
}