.home-container {
  > img {
    max-width: 400px;
    margin-top: 14rem;
  }

  .list-container {
    div {
      img {
        border-radius: 0.25rem;
        height: 100%;
        width: 100%;
      }
    }
  }
}
