.card-wrapper {
    width: 180px;
    height: 240px;
    overflow: hidden;
    border-radius: 3px;
    text-align: left;
    padding: 0px;
}

.card-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-wrapper:hover > .card-hover {
    opacity: 1;
}

.card-wrapper .card-hover {
    width: 180px;
    height: 240px;
    margin-top: -240px;
    border-radius: 3px;
    position: absolute;
    opacity: 0;
    /* margin: 0px; */
    background-color: rgba(19, 28, 37, 0.9);
}

.card-wrapper .card-hover .favourite {
    width: 24px;
    height: 24px;
    margin: 12px 12px 121px 144px;
    z-index: 2;
}

.card-wrapper .card-hover .title {
    color: white;
    margin: 0px 12px;
    font-weight: 500;
    font-size: 20px;
    height: 46px;
    overflow: hidden;
}

.card-wrapper .card-hover .year {
    margin: 6px 12px 12px 12px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}