@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  background-color: #0a1014;
  color: white;

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  padding: 0;
  background-color: #0a1014;

  nav {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-left: 5vw;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    input {
      width: 87vw;
      border-radius: 3px;
      height: 30px;
      border: none;
      margin-top: 3px;
    }
  }

  .initial-screen {
    padding: 50px 200px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .initial-screen--information {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 15px;
      .initial-screen--p1 {
        font-size: 20px;
        margin: 0;
      }

      .initial-screen--p2 {
        font-size: 15px;
        color: #7a8c99;
        margin: 0;
      }
    }
  }
}

#movies-container {
  display: flex;
  width: 88vw;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 3vh;
  justify-content: flex-start;
}

.movie {
  margin: 15px 9.1px;
  width: 180px;
  img {
    object-fit: cover;
    height: 270px;
    border-radius: 3px;
  }
}

.movie-page {
  border: 1px solid orange;
  display: flex;
  padding: 0;
  justify-content: space-evenly;

  .movie-info {
    width: 40%;
    border: 1px solid purple;
    margin-left: -150px;

    margin-right: 10px;

    .movie-info--stats {
      border: 1px solid green;
      display: flex;
      color: #707070;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 16px;

      .rated {
        background-color: #7a8c99;
        color: #0a1014;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .movie-info--title {
      font-size: 60px;
      font-family: "Roboto";
      font-weight: 700;
      border: 1px solid white;
      margin: 0;
    }

    .movie-info--ratings {
      display: flex;
      height: 40px;
      width: 20vw;
      border: 2px solid white;
      justify-content: space-between;

      .movie-info--imdb {
        border: 1px solid #353f4c;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        .movie-info--imdb_logo {
          background-color: #ff9f1c;
          display: flex;
        }

        .movie-info--imdb_rating {
          align-self: center;
        }
      }
    }

    .movie-info--plot {
      border: 1px solid white;
      font-family: "Roboto";

      h2 {
        font-weight: 300;
        color: #7a8c99;
        font-size: 20px;
      }

      p {
        font-weight: 300;
        font-size: 17px;
      }
    }

    .movie-info--people {
      display: flex;

      h2 {
        font-weight: 300;
        color: #7a8c99;
        font-size: 20px;
      }

      p {
        font-weight: 300;
        font-size: 17px;
      }
    }
  }

  .movie-poster {
    border: 1px solid red;
    width: 30%;
  }
}

.arrow-back {
  margin-left: 100px;

  &:hover {
    cursor: pointer;
  }
}
