@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$red: #ff4040;
$black: #0a1014;
$blue: #7a8c99;
$grey: #707070;
$dark_grey: #353f4c;
$orange: #ff9f1c;

body {
  margin: 0;
  background-color: $black;
  color: white;

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  padding: 0;
  background-color: $black;

  nav {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-left: 5vw;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    input {
      width: 85vw;
      border-radius: 3px;
      height: 30px;
      border: none;
      margin-top: 3px;
    }
    input[type="text"] {
      padding: 5px 15px;
    }
  }

  .initial-screen {
    padding: 50px 200px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .initial-screen--information {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 15px;
      .initial-screen--p1 {
        font-size: 20px;
        margin: 0;
      }

      .initial-screen--p2 {
        font-size: 15px;
        color: $blue;
        margin: 0;
      }
    }
  }
}

#movies-container {
  display: flex;
  width: 88vw;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 3vh;
  justify-content: flex-start;
}

.movie {
  margin: 15px 9.1px;
  width: 180px;
  img {
    object-fit: cover;
    height: 270px;
    border-radius: 3px;
  }
}

.movie-page {
  display: flex;
  padding: 0;
  margin-top: 2vh;
  justify-content: space-evenly;
  .movie-info {
    width: 40%;
    margin-right: 150px;

    .movie-info--stats {
      display: flex;
      color: $grey;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 16px;

      .rated {
        background-color: $blue;
        color: $black;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .movie-info--title {
      font-size: 60px;
      font-family: "Roboto";
      font-weight: 700;
      margin: 0;
    }

    .movie-info--ratings {
      display: flex;
      font-size: 19px;
      height: 50px;
      width: 40vw;
      color: $blue;
      justify-content: flex-start;

      .movie-info--imdb {
        border: 1px solid $dark_grey;
        border-radius: 6px;
        display: flex;
        margin-right: 20px;
        width: 12vw;
        .movie-info--imdb_logo {
          background-color: $orange;
          display: flex;
          width: 50%;
          border-radius: 5px 0 0 5px;

          justify-content: space-around;
        }

        .movie-info--imdb_rating {
          align-self: center;
          width: 50%;
          justify-self: center;
          text-align: center;
        }
      }

      .fav {
        cursor: pointer;
        display: flex;
        width: 16vw;
        border: 1px solid $dark_grey;
        border-radius: 6px;
        justify-content: space-around;
        align-items: center;
      }

      .fav-added {
        background-color: $red;
        display: flex;
        width: 8vw;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        justify-content: space-around;
        align-items: center;
      }
    }

    .movie-info--plot {
      font-family: "Roboto";

      h2 {
        font-weight: 300;
        color: $blue;
        font-size: 20px;
      }

      p {
        font-weight: 300;
        font-size: 17px;
      }
    }

    .movie-info--people {
      display: flex;

      h2 {
        font-weight: 300;
        color: $blue;
        font-size: 20px;
      }

      p {
        font-weight: 300;
        font-size: 17px;
      }

      .movie-info--people--cast {
        width: 11vw;
        padding: 0 15px 0 0;
      }

      .movie-info--people--genre {
        width: 5vw;
        padding: 0 15px;
      }

      .movie-info--people--director {
        width: 12vw;
        padding: 0 15px;
      }
    }
  }

  .movie-poster {
    width: 30%;

    img {
      border-radius: 6px;
    }
  }
}

.arrow-back {
  margin-left: 85px;

  &:hover {
    cursor: pointer;
  }
}

#movie {
  position: relative;
  font-family: "Roboto";
  img {
    &:hover {
      opacity: 0.5;
    }
  }

  .movie-title-container {
    .movie-title {
      position: absolute;
      top: 170px;
      padding: 0 10px;
      left: 0;
      font-weight: 400;
      font-size: 18px;
      width: 100%;
      color: white;
      transition: ease-in;

      &:hover {
        color: white;
        font-weight: 500;
        width: 90%;
        background-color: $black;
      }
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 300px;
  margin-top: 150px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $red;
  border-color: $red transparent $red transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
