@import "../../styles/master";
main {
  margin-top: 1.75rem;
  color: #fff;
  .movie-info-container {
    .movie-specifications-container {
      color: $shade-secondary;
      font-size: 1.25rem;
    }

    .ratings-container {
      .add-favorites-btn {
        border: $shade-disabled solid 1px;
        border-radius: 0.25rem;
        cursor: pointer;

        p {
          color: $shade-secondary;
          font-weight: 500;
        }
      }

      .added {
        border: $color-negative solid 1px;
        background-color: $color-negative;
        p {
          color: $shade-default;
        }
      }
    }
  }
}

@media (max-width: $large) {
  main {
    width: 70%;
    .movie-poster {
      margin-left: 0.5rem !important;
    }
  }
}

@media (max-width: $medium) {
  main {
    width: 100%;
    .movie-info-container {
      width: 100% !important;
      .font-bold {
        font-size: 4rem;
        margin-top: 1rem;
      }

      div {
        .add-favorites-btn {
          margin-top: 1rem;
          padding: 0.5rem;
        }
      }
    }

    .movie-poster {
      display: none;
    }
  }
}

@media (max-width: $small) {
  main {
    div {
      .font-bold {
        font-size: 2rem;
        margin-top: 1rem;
      }

      .ratings-container {
        display: block !important;
      }

      div {
        .add-favorites-btn {
          margin-top: 1rem;
          width: 200px;
          padding: 0.5rem;
        }

        .added {
          margin-top: 1rem;
          width: 125px;
          padding: 0.5rem;
        }
      }

      .behind-scenes-container {
        width: 100% !important;
        padding-bottom: 1rem;
      }
    }
  }
}
