@import "../../styles/master";
main {
  margin-top: 1.75rem;
  color: #fff;
  div {
    .movie-specifications-container {
      color: $shade-secondary;
      font-size: 1.25rem;
    }
    div {
      .add-favorites-btn {
        border: $shade-disabled solid 1px;
        border-radius: 0.25rem;
        cursor: pointer;
      }
    }
  }
}
