//colors
$color-highlight: #ff9f1c;
$color-negative: #ff4040;
$color-active: #2ec4b6;

//shades
$shade-dark: #0a1014;
$shade-grey: #1b2329;
$shade-disabled: #353f4c;
$shade-secondary: #7a8c99;
$shade-default: #fff;
