//font-family
$font-family: "Roboto", "open-sans";
$leading: 0.0008em;
//fonts
.font-bold {
  font-size: 5rem;
  letter-spacing: $leading;
}

.font-medium-high {
  font-size: 1.5rem;
  letter-spacing: $leading / 4em;
  font-weight: 500;
}
.font-medium-low {
  font-size: 1.25rem;
  letter-spacing: $leading / 4em;
}
.font-regular {
  font-size: 1rem;
  letter-spacing: $leading / 5em;
}
