:root {
  --dark: #0A1014;
  --grey: #1B2329;
  --midgrey: #353F4C;
  --lightgrey: #7A8C99;
  --white: #fff;
  --yellow: #FF9F1C;
  --red: #FF4040;
  --green: #2EC4B6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--white);
}

/* Container System */
@media only screen and (max-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}

/* Grid system */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns with same width */
  width: 100%;
  gap: 1.25rem;
}

@media only screen and (max-width: 576px) {

}

@media only screen and (min-width: 576px) {

}

/* General Styles */
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

/* General components */
.header {
  grid-column: span 12;
  padding: 1.5rem 0rem;
}

.search {
  grid-column: span 12;
  position: relative;
}

.search__input {
  position: relative;
  width: 100%;
  padding: .8rem 0rem .8rem 0rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
}

.search__input:focus-visible {
  outline: none;
  padding-left: 2.5rem;
}

.search__input::placeholder {
  position: absolute;
  left: 2.5rem;
  color: var(--white); 
}

.search__icon {
  position: absolute;
  top: 50%;
  left: .75rem;
  transform: translate(0%, -50%);
}

.empty {
  grid-column: span 12;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.empty__image {
  width: 396px;
  max-width: 100%;
  height: auto;
}

.empty__subheader--lightgrey {
  color: var(--lightgrey);
}