$dark: #0A1014;
$grey: #1B2329;
$midgrey: #353F4C;
$lightgrey: #7A8C99;
$white: #fff;
$yellow: #FF9F1C;
$red: #FF4040;
$green: #2EC4B6;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
  color: $white;
}

ul {
  margin:0;
  padding: 0;
  list-style-type: none;

  li {
    line-height: 1.5;
  }
}

/* Container System */
@media screen and (max-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
  }
}

/* Grid system */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columns with same width */
  width: 100%;
  gap: 1.25rem;
}

@media screen and (max-width: 576px) {
  .movie-card {
    height: 240px;
    grid-column: span 6;
  }

  .movie-info {
    grid-column: span 12;
    order: 2;
  }

  .movie-poster {
    position: relative;
    order: 1;
    padding: 0rem;
    margin: 0rem -1rem;
    height: 400px;
    grid-column: span 12;

    &__image {
      border-radius: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      background: linear-gradient(to top, $dark, $dark 10%, transparent);
    }
  }
}

@media screen and (min-width: 576px) {
  .movie-card {
    height: 240px;
    grid-column: span 4;
  }

  .movie-info {
    order: 1;
    grid-column: span 12;
  }

  .movie-poster {
    order: 2;
    grid-column: span 12;

    &__image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .movie-card {
    height: 240px;
    grid-column: span 2;
  }

  .movie-info {
    grid-column: span 6;
  }
  
  .movie-poster {
    padding: 3rem;
    grid-column: span 6;
  }
}

/* General Styles */
h1 {
  font-size: 5rem;
  line-height: 88px;
}

h2 {
  font-size: 1.5rem;
  line-height: 30px;
}

h3 {
  font-size: 1.25rem;
  line-height: 28px;
}

p {
  font-size: 1rem;
  letter-spacing: 0.16;
  line-height: 24px;
}

.label {
  padding: 4px 6px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.section-title {
  color: $lightgrey;
  font-size: 1rem;
  font-weight: 600;
}

/* Homepage and Movie page components */

.search {
  grid-column: span 12;
  position: relative;
}

.search__input {
  position: relative;
  width: 100%;
  padding: .8rem 0rem .8rem 0rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
}

.search__input:focus-visible {
  outline: none;
  padding-left: 2.5rem;
}

.search__input::placeholder {
  position: absolute;
  left: 2.5rem;
  color: $white; 
}

.search__icon {
  position: absolute;
  top: 50%;
  left: .75rem;
  transform: translate(0%, -50%);
}

.empty {
  grid-column: span 12;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.empty__image {
  width: 396px;
  max-width: 100%;
  height: auto;
}

.empty__subheader--lightgrey {
  color: $lightgrey;
}

.movie-card {
  height: 240px;
  position: relative;
  transition: all;
}

.movie-card__overlay {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  background-color: $grey;
  opacity: 0;
  padding: 0.75rem;
}

.movie-card:hover {
  
  & .movie-card__overlay {
    opacity: .9;
    transition: all .2s;
    cursor: pointer;
  }
}

.movie-card__like {
  @extend .button;
  position: absolute;
  right: .75rem;
}

.movie-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card__description {
  position: absolute;
  bottom: .75rem;
  left: .75rem;
}

.movie-card__description__title{
  margin: 0rem;
}

.movie-card__description__year {
  margin-top: .2rem;
  margin-bottom: 0rem;
}

.movie-info {
  &__button {
    @extend .button;
  }

  &__details {
    display: flex;
    align-items: center;
  
    &__duration, &__year {
      display: flex;
      align-items: center;
      font-weight: 400;
      color: $lightgrey;
      margin-right: .5rem;
  
      &::after {
        content: "";
        display: inline-flex;
        width: 4px;
        height: 4px;
        background-color: #7A8C99;
        border-radius: 50px;
        margin-left: .5rem;
      }
    }

    &__label {
      @extend .label;
    
      font-weight: 500;
      color: #0A1014;
      background-color: $lightgrey;
      border-radius: 4px;
    }
  }
  
  &__title {
    margin-top: .5rem;
    margin-bottom: 2rem;
  }
  
  &__rating-bar {
    display: flex;
    align-items: center;
  
    &__item {
      display: flex;
      margin-right: 1rem;
      
      &__image {
        height: 1rem;
        padding: 12px 8px;
        width: 100%;
        object-fit: contain;
        background-color: $yellow;
        border-radius: 4px 0px 0px 4px;
      }

      &__image--red {
        @extend  .movie-info__rating-bar__item__image;
        padding: 12px;
        background-color: $red;
      }
      
      &__text {
        margin: 0rem;
        display: flex;
        align-items: center;
        padding: 0rem 8px 0rem 8px;
        border: 1px solid $midgrey;
        border-radius: 0px 4px 4px 0px;
      }
    }

    &__button {
      @extend .button;
      display: flex;
      align-items: center;
      color: $lightgrey;
      border: 1px solid $midgrey;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 1rem;
      transition: all .3s;
      position: relative;

      &__icon {
        width: 16px;
        position: absolute;
        opacity: 1;
      }

      &__icon--white {
        @extend .movie-info__rating-bar__button__icon;
        opacity: 0;
      }

      &:hover {
        color: $white;
        border-color: $red;
        transition: all .3s;

        .movie-info__rating-bar__button__icon {
          opacity: 0;
        }

        .movie-info__rating-bar__button__icon--white {
          opacity: 1;
        }
      }

      &__text {
        margin: 0rem 0rem 0rem 1.5rem;
      }
    }
  }

  &__plot {
    margin-top: 3rem;
    
    &__title {
      @extend .section-title;
    }

    &__text {
      margin-top: 1rem;
      color: $white;
    }
  }

  &__smaller {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &__item {
      
      &__title {
        @extend .section-title;
      }

      &__list {
        margin-top: 1rem;
      }
    }
  }
}